@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
}

body {
	background-color: #d7d9d9;
	color: #3f4545;
	font-size: 16px;
	margin: 0;
	padding: 80px 0 15px 0;
}

p {
	margin: 0 0 10px 0;
}

a {
	text-decoration: none;
}

.text-capitalized {
	text-transform: capitalize;
}

.container {
	height: inherit;
	margin: 0 auto;
	max-width: 500px;
	position: relative;
}

.container-fluid {
	height: inherit;
	margin: 0 auto;
	max-width: 1100px;
	position: relative;
}

.input-parent {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}

.input-parent:last-child {
	margin-bottom: 0;
}

.input-parent>label {
	display: block;
	margin-bottom: 5px;
}

textarea,
select,
input,
button,
.btn {
	border: 1px solid #dae5e5;
	border-radius: 4px;
	min-height: 34px;
	padding: 8px 10px;
	outline: none;
	text-decoration: none;
	font-size: 1rem;
}


textarea,
select,
input {
	width: inherit;
}

textarea {
	min-height: 38px;
	max-height: 120px;
	resize: vertical;
}

select:focus,
input:focus {
	border: 1px solid #9ea2a2;
}

option[disabled],
textarea::placeholder,
input::placeholder {
	color: #aaa !important;
}

.btn,
button {
	display: inline-flex;
	align-items: center;
}

.btn:hover,
button:hover {
	cursor: pointer;
}

.btn:active,
button:active {
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	filter: saturate(0.6);
}

button:disabled {
	cursor: not-allowed;
}

button:disabled:active {
	box-shadow: inset unset;
	filter: unset;
}

.btn-sm {
	min-height: 24px;
	font-size: .7rem;
	padding: 3px 7px;
}

label {
	font-size: .8rem;
	text-transform: uppercase;
}

.header-block {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.panel {
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	display: block;
	border-radius: 4px;
	margin-bottom: 20px;
}

.panel-header,
.panel-body,
.panel-footer {
	padding: 15px;
}

.panel-header {
	border-bottom: 1px solid #eaeaea;
	color: #4294ff;
	font-size: 18px;
}

.panel-footer {
	border-top: 1px solid #eaeaea;
}

.panel:last-child {
	margin-bottom: 0;
}

.half-flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 15px;
}

.half-flex:last-child {
	margin-bottom: 0;
}

.half-flex>.flex-item {
	margin-bottom: 0;
}

.navlink {
	text-decoration: none;
	color: #9b6ec9;
}

.color-theme {
	color: #4294ff;
}

.color-black {
	color: #3f4545;
}

.color-dark {
	color: #aaa;
}

.center-content {
	align-items: center;
	display: inline-flex !important;
	justify-content: center;
}

.bg-theme {
	background-color: #4294ff;
	color: #fff;
}

.border-theme {
	border-color: #4294ff;
}

.color-success {
	color: #4aaf10;
}

.color-gray {
	color: #ccc;
}

.bg-white {
	background-color: #fff;
}

a.bg-white,
button.bg-white {
	border: 1px solid #fff;
}

.bg-success {
	background-color: #4aaf10;
	color: #fff;
}


.border-success {
	border-color: #4aaf10;
}

.color-link {
	color: #9b6ec9;
}

.bg-link {
	background-color: #9b6ec9;
	color: #fff;
}

.border-link {
	border-color: #9b6ec9;
}

button.bg-danger,
.btn.bg-danger,
button.bg-link,
.btn.bg-link,
button.bg-success,
.btn.bg-success,
button.bg-theme,
.btn.bg-theme {
	border: 1px solid transparent;
}

.color-danger {
	color: #f06654;
}

.bg-danger {
	background-color: #f06654;
	color: #fff;
}

.border-danger {
	border-color: #f06654;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.one-line-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.two-lines-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.three-lines-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.four-lines-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.capsule {
	align-items: center;
	background-color: #419a53;
	border-radius: 20px;
	color: #fff;
	display: inline-flex;
	font-size: .7rem;
	padding: 2px 8px;
	margin-left: 3px;
}

svg.icon-md {
	font-size: 1.2rem;
}

.panel-footer.collapsed,
.panel-body.collapsed {
	display: none;
}

.panel-header.collapsed {
	border-bottom: 0 none;
}

.panel-footer.collapsed {
	border-top: 0 none;
}

.confetti {
	top: 0;
	left: 50%;
	z-index: 9;
}


@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

svg.loading {
	animation: spin 1s infinite linear;
	font-size: 1.313rem;
}

button[disabled] {
	background-color: #b2b4b4;
}

button[disabled]:active {
	box-shadow: none;
}

#alert {
	align-items: center;
	background-color: #ffebeb;
	border: 1px solid #ff9494;
	border-left: 4px solid #ff9494 !important;
	border-radius: 4px;
	color: #333 !important;
	display: inline-flex;
	font-size: 13px;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 10px;
	padding: 10px;
	position: fixed;
	right: 25px;
	z-index: 999;
	max-width: 300px;
}

#alert svg {
	font-size: 1.4rem;
}

.visible-xs {
	display: none;
}

.elem-block {
	display: block;
	width: 100%;
}

.nogaps {
	margin: 0;
	padding: 0;
}

/* SCROLL BAR */
/* width */
.tobuy-item-overflow::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.tobuy-item-overflow::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.tobuy-item-overflow::-webkit-scrollbar-thumb {
	background: #b4bcc5;
	border-radius: 20px;
}

/* Handle on hover */
.tobuy-item-overflow::-webkit-scrollbar-thumb:hover {
	background: #9d9a9a;
}

/* SCROLL BAR */

@media screen and (max-width: 1100px) {
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 767px) {

	.container-fluid,
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.half-flex {
		display: block;
	}

	.half-flex>.input-parent {
		margin-bottom: 15px;
	}

	.half-flex>.input-parent:last-child {
		margin-bottom: 0;
	}

	.fixed-flex,
	.panel-header .half-flex,
	.panel-footer .half-flex {
		display: flex;
	}

	.visible-xs {
		display: inline-block;
	}

	#alert {
		right: 5px;
		left: 5px;
		top: 15px;
		z-index: 99999;
		align-items: start;
	}

	#alert>svg {
		height: 25px;
		width: 25px;
	}
}