/* Navbar - MainPage */
.mainpage-navbar {
	background-color: #d7d9d9;
	display: block;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.mainpage-navbar_grid {
	align-items: center;
	display: grid;
	height: inherit;
	grid-gap: 15px;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
	width: 100%;
}

.mainpage-navbar_grid-left {
	justify-content: start;
}

.mainpage-navbar_grid-left,
.mainpage-navbar_grid-right {
	display: flex;
	align-items: center;
}

.mainpage-navbar_grid-right {
	justify-content: end;
	gap: 10px;
}

.mainpage-navbar_menu-btn {
	align-items: center;
	background-color: #fff;
	border: 0 none;
	border-radius: 100%;
	color: inherit;
	display: flex;
	height: 40px;
	justify-content: center;
	padding: 0;
	width: 40px;
}

.mainpage-navbar_menu-icon {
	font-size: 24px;
}

.mainpage-navbar_menu-btn.active,
.mainpage-navbar_menu-btn:hover {
	background-color: #4294ff;
}

.mainpage-navbar_menu-btn.active .mainpage-navbar_menu-icon,
.mainpage-navbar_menu-btn:hover .mainpage-navbar_menu-icon {
	color: #fff;
}

.user-avatar {
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	width: 40px;
}

.mainpage-navbar_grid-left .user-avatar {
	margin-right: 10px;
}

/* Navbar - MainPage */

/* Navbar - HomePage */
.sub-navbar {
	background-color: #fff;
	display: block;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.sub-navbar_grid {
	align-items: center;
	display: grid;
	height: inherit;
	grid-gap: 15px;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
	width: 100%;
}

.logo {
	width: 30px;
}

.sub-navbar_links {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	height: inherit;
}

.sub-navbar_links>a {
	color: inherit;
}

.sub-navbar_links>a.active {
	color: #4294ff;
}

/* Navbar - HomePage */