.tobuy-list-item,
.tobuy-item {
	margin-bottom: 20px;
}

.tobuy_list-item-overflow {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 5px;
	position: relative;
}

.tobuy_list-item-overflow .tobuy-item-preview:last-child,
.tobuy-list-item:last-child,
.home-tobuy-item:last-child,
.tobuy-item:last-child {
	margin-bottom: 0;
}

.home-tobuy-item {
	margin-bottom: 20px;
}

.tobuy-item-preview,
.tobuy-item>.tobuy-item-actions {
	align-items: flex-start;
	display: flex;
	gap: 10px;
}

.tobuy-item-preview input[type="checkbox"],
.tobuy-item input[type="checkbox"] {
	margin-top: 7px;
	min-height: unset;
	transform: scale(1.2);
}


.tobuy-item-info {
	display: block;
	width: 100%;
}

.tobuy-item-info a {
	color: #232929;
	cursor: pointer;
	font-size: 1rem;
	text-transform: none;
	text-decoration: none;
	width: inherit;
}

.tobuy-item-info-grid {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr auto;
	width: inherit;
}

.tobuy-item-info a:hover {
	color: #9b6ec9;
}

.tobuy-item-desc p {
	margin-bottom: 0;
	color: #565c5c;
}

.home-inner-info-grid {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	justify-content: flex-start;
}

.tobuy-item-preview input[type="checkbox"] {
	min-height: unset;
	margin-top: 6px;
}

.tobuy-item-done {
	background-color: transparent;
	border: 0 !important;
	box-shadow: none !important;
	color: #b1b1b1;
	font-size: 20px !important;
	padding: 0 !important;
}

.tobuy-item-done:hover {
	color: #5f5f5f;
}

.tobuy-item-done.true {
	color: #4294ff;
}

.tobuy-list-title {
	text-transform: capitalize;
}

.tobuy-item-product-title.true,
.tobuy-item-desc-content.true {
	text-decoration: line-through;
	color: #b1b1b1;
}

.tobuyList-item-overflow.active {
	opacity: .4;
}

@media screen and (max-width: 767px) {
	.tobuy-item-info-grid {
		display: block;
	}

	.tobuy-other-info {
		display: inline-block;
		margin-bottom: 10px;
	}

	.tobuy-other-info .capsule {
		margin-left: 0;
	}

	.tobuy_list-item-overflow {
		max-height: 380px;
	}
}